.container{
    display: none;
}

.container .header{
    width: 20%;     
    background-color: rgb(29, 42, 53);
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.header .sidebar-button{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.header .sidebar-button:hover{
    background-color: white;
    color: black;
}
.header .menu{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.heading-bar .heading-bar-content{
    width: 100%;
    text-align: center;
    background-color: rgb(29, 42, 53);
    color: white;
    margin: 0;
    padding: 10px 0px;
    position: fixed;
    z-index: 10;
}

.heading-bar .heading-bar-button{
    background-color: whitesmoke;
    width: 2%;
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 18px;

}

.header .header-button-close{
    z-index: 10;
}

.body{
    background-color: rgb(111, 224, 198);
    font-family: Verdana,sans-serif;
    margin: 0;
}

.header{
    position: relative;
    top: -1px;
}

.showForm{
    display: none;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    top: 0;
    background-color: rgba(28, 26, 26, 0.8);
    left: -20px;
    height: 100vh;
}

.show-form-two{
    display: none;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    top: 0;
    background-color: rgba(28, 26, 26, 0.8);
    left: -20px;
    height: 100vh;
}

.form{
    width: 30%;
    background-color: rgb(196, 220, 223);
    padding: 4%;
    margin: auto;
    margin-top: 65px;
    border: 2px solid black;
    margin-bottom: 50px;
}
.form .label-control{
    text-align: left;
    margin: auto;
    padding: 7px;
    
}

.label-control .submitButton{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: #007BFF;
    cursor: pointer;
    border: 2px solid black;
}

.label-control .submitButton:hover{
    background-color: rgb(29, 71, 148);
}

.form .input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


.header .header-button-close{
    margin-left: 84%;
    cursor: pointer;
    background-color: whitesmoke;
    margin-top: 6%;
}

.add-button-container{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

.add-button-container .add-button{
    width: 80px;
    height: 30px;
    margin-left: 95%;
    background-color: rgb(11, 223, 145);
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    right: 2%;
}

form i {
    margin-left: -40px;
    cursor: pointer;
    color: black;
}

.hidden{
    display: none;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 15px;
    left: 15px;
}

.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    background-color: #2a3232;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
}

.dataContainer{
    flex-basis: 33.33%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mainContainer {
    position: relative;
    height: 100vh;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dataButton {
    margin-top: 10px;
    margin-left: 250px;
    position: absolute;
}

.getDataButton{
    position: relative;
    margin-left: -40px;
}

.bi-x-circle-fill::before{
    position: relative;
    margin-left: 105px;
}

.form .cancelIcon{
    margin-left: 368px;
    margin-top: -13px;
}

.label-control{
    text-align: left;
    margin: auto;
    padding: 7px;
    color: white;
}

.showForm .label-control,.show-form-two .label-control{
    color: black;
} 
.input-control{
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.edit-button{
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: #4ee789;
    cursor: pointer;
    border: 2px solid black;
}

.delete-button{
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: #ee1212;
    cursor: pointer;
    border: 2px solid black;
}