.heading-bar .heading-bar-content{
    width: 100%;
    text-align: center;
    background-color: #27c699;
    color: black;
    margin: 0;
    padding: 10px 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.show-form{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 26, 26, 0.8);
}

.form{
    width: 30%;
    background-color: rgb(218, 236, 229);
    padding: 4%;
    margin: auto;
    margin-top: 65px;
    border: 2px solid black;
    margin-bottom: 50px;
    position: relative;
}
.form .label-control{
    text-align: left;
    margin: auto;
    padding: 7px;
    
}

.form .cancel-icon{
    margin-left: 368px;
    margin-top: -13px;
}

.label-control .submit-button{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: #007BFF;
    cursor: pointer;
    border: 2px solid black;
}

.label-control .submit-button:hover{
    background-color: rgb(29, 71, 148);
}

.submit-button-accept{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: rgb(92, 232, 92);
    cursor: pointer;
    border: 2px solid black;
}

.submit-button-reject{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: rgb(234, 34, 34);
    cursor: pointer;
    border: 2px solid black;
}

.form .input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.add-button-container{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;

}

.add-button-container .add-button{
    width: 100px;
    height: 40px;
    margin-left: 95%;
    background-color: #eb7120;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    right: 2%;
}

.add-button-container .show-button{
    width: 100px;
    height: 40px;
    margin-left: 90%;
    background-color: #eb7120;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    right: 9%;
}

.hidden{
    display: none;
}

.bi-x-circle-fill{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 15px;
    left: 15px;
}

.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    background-color: #00ADB5;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
    position: relative;
    height: 100vh;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body{
    background-color: #393E46;
}

.edit-button{
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: #e6eb62;
    cursor: pointer;
    border: 2px solid black;
}

.delete-button{
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: #ee1212;
    cursor: pointer;
    border: 2px solid black;
}

.required-field{
    color: red;
}

.card .input-control{
    padding: 10px 15px;
    margin: 4px 4px;
    display: inline-block;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


@media (max-width:1440px){
    .add-button-container .show-button{
        right: 12%;
    }
}

@media (max-width:1000px){
    .add-button-container .show-button{
        right: 15%;
    }
}

.light-mode{
    background-color: rgb(237, 227, 227);
}

.bi-toggle-on{
    position: fixed;
    right: 2%;
    z-index: 30;
    font-size: x-large;
    cursor: pointer;
}

.bi-toggle-off{
    position: fixed;
    right: 2%;
    z-index: 30;
    font-size: x-large;
    cursor: pointer;
}