.container{
    display: none;
}

.container .header{
    width: 20%;     
    background-color: rgb(29, 42, 53);
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.header .sidebar-button{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.header .sidebar-button:hover{
    background-color: white;
    color: black;
}
.header .menu{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.heading-bar .heading-bar-content{
    width: 100%;
    text-align: center;
    background-color: rgb(29, 42, 53);
    color: white;
    margin: 0;
    padding: 10px 0px;
    position: fixed;
    z-index: 10;
}

.heading-bar .heading-bar-button{
    background-color: whitesmoke;
    width: 2%;
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 18px;

}

.body{
    background-color: lightblue;
    font-family: Verdana,sans-serif;
    margin: 0;
}

.header{
    position: relative;
    top: -1px;
}

.show-form{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(28, 26, 26, 0.8);
}

.form{
    width: 30%;
    background-color: rgb(196, 220, 223);
    padding: 4%;
    margin: auto;
    margin-top: 65px;
    border: 2px solid black;
    margin-bottom: 50px;
}
.form .label-control{
    text-align: left;
    margin: auto;
    padding: 7px;
    
}

.label-control .submit-button{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: #007BFF;
    cursor: pointer;
    border: 2px solid black;
}

.label-control .submit-button:hover{
    background-color: rgb(29, 71, 148);
}

.form .input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#noOfStock{
    width: 30%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

}

#quantity{
    width: 35%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.label-in{
    padding: 13px;
    margin-left: 7%;
}

.header .header-button-close{
    margin-left: 84%;
    cursor: pointer;
    background-color: whitesmoke;
    margin-top: 6%;
}

.add-button-container{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

.add-button-container .add-button{
    width: 80px;
    height: 30px;
    margin-left: 95%;
    background-color: rgb(99, 227, 129);
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    right: 2%;
}

form i {
    margin-left: -40px;
    cursor: pointer;
    color: black;
}

.hidden{
    display: none;
}

.bi-x-circle-fill::before{
    position: relative;
    margin-left: 476px;
}

.welcome-title{
    position: absolute;
    margin-top: 5%;
    margin-left: 35%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.welcome-title h2, .welcome-title h3{
    color: red;
}
.pie-chart-img{
    position: absolute;
    margin-top: 14%;
    margin-left: 34.5%;
}