.container{
    display: none;
}

.container .header{
    width: 20%;     
    background-color: #0D1721;
    height: 100vh;
    position: fixed;
}

.header .sidebar-button{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.header .sidebar-button:hover{
    background-color: white;
    color: black;
}
.header .menu{
    width : 90%;
    display : block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
}

.heading-bar .heading-bar-content{
    width: 100%;
    text-align: center;
    background-color: rgb(29, 42, 53);
    color: white;
    margin: 0;
    padding: 10px 0px;
    position: fixed;
}

.heading-bar .heading-bar-button{
    background-color: whitesmoke;
    width: 2%;
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 18px;

}

.body{
    background-color: #cedce7;
    font-family: Verdana,sans-serif;
    margin: 0;
}

.header{
    position: relative;
    top: -1px;
}

.showForm{
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    z-index: 5;
    background-color: rgba(110, 104, 104, 0.8);
}

.form{
    width: 30%;
    background-color: rgb(196, 220, 223);
    padding: 4%;
    margin: auto;
    margin-top: 65px;
    border: 2px solid black;
    margin-bottom: 50px;
}
.form .label-control{
    text-align: left;
    margin: auto;
    padding: 7px;
    
}

.label-control .submitButton{
    text-align: center;
    margin: auto;
    padding: 6px;
    background-color: #007BFF;
    cursor: pointer;
    border: 2px solid black;
}

.label-control .submitButton:hover{
    background-color: rgb(29, 71, 148);
}

.form .input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#noOfStock{
    width: 30%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

}

#quantity{
    width: 35%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.label-in{
    padding: 13px;
    margin-left: 7%;
}

.header .header-button-close{
    margin-left: 84%;
    cursor: pointer;
    background-color: whitesmoke;
    margin-top: 6%;
}

.cardHolder {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}


.cardHolder .card {   
    width: 200px;
    height: 200px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(65, 63, 63);
    margin: 5px;
    margin-left: 20px;
    opacity: 0.8;
  }

.cardHolder .cardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardHolder .card:hover .cardInner{
    transform: rotateY(180deg);
    opacity: 1;
    transition: .9s;
    background-color: #2D728F;
}

.cardHolder .cardBack{
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.cardHolder .cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.add-button-container{
    width: 100%;
    height: 10vh;
    position: relative;
    top: 50px;
}

.add-button-container .add-button{
    width: 60px;
    height: 20px;
    top: 10px;
    margin-left: 95%;
    background-color: red;
    cursor: pointer;
    position: sticky;
    z-index: 10;
}

form i {
    margin-left: -40px;
    cursor: pointer;
    color: black;
}

.hidden{
    display: none;
}

@media (min-width: 1800px), (max-width: 2000px) {
    .cardHolder{
        margin-left: 20%;
    }
    
    .cardHolder .card{
        margin-left: 5%;
    }
}

@media (min-width: 2001px), (max-width: 2560px){
    .cardHolder{
        margin: 30px
    }
    
    .cardHolder .card{
        margin-left: 10%;
    }

    .addressOfManufacturor{
        width:  98%;
        border-radius: 10px;
    }
}

@media (max-width: 1458px){
    .label-in{
        margin-left: -2%;
    }
}

.heading-bar i{
    margin-left: -40px;
    cursor: pointer;
    color: rgb(241, 234, 234);
}
